<% message = "Can’t wait for @howyoubean? to launch! The #coffee game is changing forever…" %>
<% url = CGI::escape(referral_url(@user)) %>
<% image = asset_url('refer/HUB-Main-Image.png') %>
<div class="social-links">
  <a href="http://www.facebook.com/sharer/sharer.php?u=<%= url %>&title=How To Bean" class="fb" target="_blank"></a>
  <div class="sep"></div>
  <a href="http://twitter.com/share?url=<%= url %>&text=<%= CGI::escape(message) %>" class="twit" target="_blank"></a>
  <div class="sep"></div>
  <a href="mailto:?subject=<%= message %>&amp;body=<%= message %> - <%= url %>" class="email" target="_blank"></a>
  <div class="sep"></div>
  <a href="https://vine.co/v/ih6VappFItj" class="vine" target="_blank"></a>
  <div class="sep"></div>
  <a href="https://pinterest.com/pin/create/button/?url=<%= url %>&description=<%= CGI::escape(message) %> <%= url %>&media=<%= image %>" class="pinterest" target="_blank"></a>
</div>
