<% message = CGI::escape("Can’t wait for @howyoubean? to launch! The #coffee game is changing forever…") %>
<% url = CGI::escape(referral_url(@user)) %>
<div class="social-links">
  <a href="http://www.facebook.com/sharer/sharer.php?u=<%= url %>&title=How To Bean" class="fb" target="_blank"></a>
  <div class="sep"></div>
  <a href="http://twitter.com/share?url=%= url %>&text=<%= message %>" class="twit" target="_blank"></a>
  <div class="sep"></div>
  <a href="mailto:?subject=<%= message %>&amp;body=<%= message %> - <%= url %>" class="email" target="_blank"></a></a>
  <div class="sep"></div>
  <a href="https://vine.co/v/ih6VappFItj" class="vine" target="_blank"></a></a>
</div>

