<meta property="og:title" content="The Rock"/>
<meta property="og:type" content="movie"/>
<meta property="og:url" content="http://www.imdb.com/title/tt0117500/"/>
<meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
<meta property="og:site_name" content="IMDb"/>
<meta property="fb:admins" content="USER_ID"/>
<meta property="og:description"
      content="A group of U.S. Marines, under command of
               a renegade general, take over Alcatraz and
               threaten San Francisco Bay with biological
               weapons."/>

<div class="header">
    <div class="content">
        <p class="brand brandon">How You Bean?</p>
        <p class="byline brandon">&nbsp;&nbsp;THANK YOU FOR SIGNING UP</p>
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">
        <div class="mammoth">
            <span class="need brandon">Shaving Is<br>Evolving</span>
        </div>
        <div class="share-wrap">
            <p class="why brandon">Don't leave your friends behind</p>
            <p class="title brandon">INVITE FRIENDS &<br>Earn Free Product</p>
            <p class="subtitle brandon">Share your unique link by email, Facebook, Instagram or Twitter and earn free ‘How You Bean’ products for every friend that signs up.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "Can’t wait for @howyoubean? to launch! The #coffee game is changing forever…" %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">How You Bean? Free Product</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

        <p class="ship brandon">Shipping is to Australia Only</p>        
        <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
</div>